@model SoftmatDesk.Models.DB_Context.usuario
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}



@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{

    <h1>Inicio de sesion</h1>
    <div>
        @Html.TextBoxFor(model => model.NickName, null, new { @class = "form-control", placeholder = "Usuario" })
    </div>
    <div>
        @Html.PasswordFor(model => model.Contraseña, new { @class = "form-control", placeholder = "Contraseña" })
    </div>
    <div>
        <input type="submit" value="Ingresar" class="btn btn-default submit" />
        <a class="reset_pass" href="#">Lost your password?</a>
    </div>

    <div class="clearfix"></div>

    <div class="separator">

        <div class="clearfix"></div>
        <br />
        <div>
            <h1><i class="fa fa-paw"></i> Softmat Desk</h1>
            <p>All Rights Reserved.</p>
        </div>
    </div>
}

